<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/fontawesome/css/all.min.css">

    <title>
        {% block title %}
            pAnk st0re! - Domov
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if app.user is not null and is_granted('IS_AUTHENTICATED_REMEMBERED')
        and app.user.activate == 0 and app.request.uri != 'http://127.0.0.1:8000/homepage' %}
        <meta http-equiv="refresh" content="0; url=http://127.0.0.1:8000/homepage"/>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="icon" href="/uploads/icon.png">

    <script>
        window.domain = 'http://127.0.0.1:8000';
    </script>

    {% block stylesheets %}
        {{ encore_entry_link_tags('homepage', 'webpack_assets') }}
    {% endblock %}
</head>
<body>
{% include "top_panel.html.twig" %}
{% block body %}{% endblock %}
{% block layout_content %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}


{% for message in app.flashes('info') %}
    <script>
        var msg = "{{ message }}";
        if (!!msg) {
            setTimeout(function () {
                alert(msg)
            }, 20);
        }
    </script>
{% endfor %}
<script>
    new CountdownTimer();
</script>

{% include 'cookie.html.twig' %}
</body>
</html>
