.detail
  max-width 960px
  margin 5em auto 0 auto
  .image
    &-wrapper
     width 50%
    //&-container


  .info-wrapper
    width 50%
    color white
    padding-left 1em
    .headline
      font-size 2.8em
      color yellow
    .description
      font-size 1.4em
      margin 1em 0 2em 0
    .price-wrapper
      font-size 4.5em
      .price
        font-weight bold
        display inline-block
        color yellow
      .cart
        display inline-block
        button
          background black url("../images/cart2.png") center center no-repeat
          background-size contain
          cursor pointer
          padding 3em
          vertical-align: super