img {
  margin-top 1.5vw
  height: 20vw;
  width: 20vw;
}

.h1 {
  color white
}

body {
  background-color: black;
}

.card {
  max-width: 29vw;
  margin: auto;
  text-align: center;
  font-family: Arial;
  color white
}

.price {
  color: yellow;
  font-size: 3vw;
  font-weight bold
}

.card button {
  cursor pointer
  width: 30vw;
  height: 3.5vw;
  border: none;
  font-weight bold
  border-radius: 17vw;
  padding-left: 1vw;
  color: black;
  font-size 2.5vw
}

input {
  background-color: black;
  color: yellow;
  width: auto;
  height: 1.5vw;
  cursor pointer
  font-size: 1vw;
  float: right;
}