.container-article
  display grid
  grid-template-columns 50% 50%
  grid-template-rows 110%
  max-width 960px
  margin auto
  margin-top 20px


.container-description
  display grid
  grid-template-columns 100%
  grid-template-rows 20% 35% 15% 30%
  padding-left 15px

  .headline
    font-size 3em
    color yellow

  .des
    color white
    font-size 1.25em
    margin 1em 0 2em 0

  .price
    font-size 2.5em
    font-weight bold
    display inline-block
    color yellow

.cart
  display inline-block

  button
    background black url("../images/cart2.png") center center no-repeat
    background-size contain
    cursor pointer
    padding 2em
    vertical-align: super

@media screen and (max-width: 968px) {
  .container-article {

  }
  .container-description {
    .headline {
      font-size 2.5em
    }
    .des {
      font-size 1em
    }
    .price {
      font-size 2.1em
    }
  }
}

@media screen and (max-width: 700px) {
  .container-article {
    display block
  }
  .container-description {
    padding 15px
    .headline {
      text-align center
      font-size 3em
    }
    .des {
      text-align center
      font-size 1.25em
    }
    .price {
      font-size 2.5em
    }
  }
}