.topnav
  background-color black
  overflow hidden

  a
    float left
    color yellow
    text-align center
    padding 14px 16px
    text-decoration none
    font-size 1.25em

    &.active
      background-color #111111
      color yellow

    &:hover
      background-color grey
      color yellow

.rate-info
  display none