.banner
  width 120px
  position fixed
  top 50%
  //top 0
  right 5vw
  //right 120px
  transform translateY(-50%)
  border 1px white solid

@media only screen and (max-width: 1450px) {
  .banner {
    right 1vw
  }
}

@media only screen and (max-width: 1220px) {
  .banner {
    display none
  }
}