.category-panel
  height 100%
  width 0
  position fixed
  z-index 1
  top 0
  left 0
  background-color #111111
  overflow-x hidden
  padding-top 60px
  transition 0.5s
  >label
    display block
    padding 10 0px
    font-weight bold
    text-decoration underline overline solid red
    color red
    margin-left 15px
    font-size 2.6em
    margin-bottom 10px
  >a
    padding 8px 8px 8px 32px
    text-decoration none
    font-size 1.5em
    color aliceblue
    display block
    transition 0.3s
    &:hover
      color yellow
   .closebtn
    position absolute
    top 0
    right 10px
    font-size 2.25em
    margin-left 50px
    color white
  >h2
    margin-left 15px
    font-size 1.8em
    color yellow
  >div
    color aliceblue
    padding 0 25px 25px 15px
    font-size 1.25em
    font-family monospace


.openbtn
  font-size 1.25em
  cursor pointer
  background-color #111111
  color white
  padding 10px 15px
  border none
  &:hover
    background-color yellow
    color black

#main
  transition margin-left .5s
  padding 20px

//@media only screen and (max-width: 600px) {
//  .category-panel {
//    //background-color green
//  }
//}

//@media screen and (max-height: 450px)
//  .sidebar {padding-top: 15px;}
//  .sidebar a {font-size: 18px;}





