body
  h1
    color yellow

  .form-wrapper
    width 25vw
    box-shadow 0 0 3pt 2pt yellow
    margin 8vw auto
    padding 2vw 3vw
    background #262626
    border-radius 15px

    > div
      width 100%

      > div
        width 100%

        label
          color yellow
          font-size 1em
          padding .5em 0
          display inline-block

        span
          color yellow
          font-size 1em
          padding .5em 0
          display inline-block
          float right


        .formInput
          width 100%
          height 30px
          border none
          border-radius 3px
          padding-left 8px