body {
  margin 0
  padding 0
  background-color black
  font-family 'Arial'
}

.login {
  width 20vw
  box-shadow 0 0 3pt 2pt yellow
  margin 8vw auto
  padding 3vw
  background #262626
  border-radius 15px
}

label {
  color yellow
  font-size 1.5vw
}

.inputForm {
  width 300px
  height 30px
  border none
  border-radius 3px
  padding-left 8px
}

#btn-form {
  width 310px
  height 30px
  font-weight bold
  box-shadow 0 0 3pt 2pt yellow
  border-radius 17px
  padding-left 7px
  color black
}

span {
  color grey
  font-size 17px
}

a {
  float right
  color yellow
  text-decoration none
}

//.formInput {
//  width 300px
//  height 30px
//  border none
//  border-radius 3px
//  padding-left 8px
//  color green
//  background-color green
//}

//
//#pass1 {
//  width 300px
//  height 30px
//  border none
//  border-radius 3px
//  padding-left 8px
//}
//  #surename {
//  width 300px
//  height 30px
//  border none
//  border-radius: 3px
//  padding-left: 8px
//  color green
//  background-color green
//}
//
//#email {
//  width 300px
//  height 30px
//  border none
//  border-radius 3px
//  padding-left 8px
//}
//
//#pass {
//  width 300px;
//  height 30px;
//  border none;
//  border-radius 3px
//  padding-left 8px
//}