.top-panel
  width 100%
  max-width 960px
  margin auto
  .navigation, .form-buttons
    >li
      display inline-block
      >a
        display inline-block
        padding 0.5rem

.collection {
  display grid
  grid-auto-columns max-content
  grid-auto-flow dense
  grid-auto-rows minmax(100px, auto)
  grid-gap 25px
  grid-template-columns repeat(3, 1fr)
  margin 60px auto
  max-width 800px
}

.product
  &-url
    display block

  &-name
    font-size 1em
    font-weight bold
    line-height 1.5rem

  &-price
    font-size 1.3em
    color white