/*
main-section {
  max-width 1200px
  margin 0 auto
}

.subsection {
  width 100%
  padding 0 20px
  background-color red
}

.layout-list {
  text-align center
  font-size 0
  .layout-item {
    display inline-block
    vertical-align top
    width 25%

    @media (max-width 479) {
      width 50%
    }
  }
}

img {
  height: 300px;
  width: 250px;
}

body {
  background-color: antiquewhite;
}
.card {
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: Arial;
}

.price {
  color: black;
  font-size: 28px;
}

.card button {
  border-style: double;
  border-color: #8959A8;
  padding: 10px;
  color: white;
  background-color: red;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
}

.homepage-item {
  width 100%
  background-color #718C00
  height 100px
  font-size 14px
  color white
  border 1px solid white
  border-radius 50%
}

body {

  background-color silver
  font-size 12px
}

*/
body {
  background-color: antiquewhite;
}

.collection {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);

  //--- JUST VISUAL STYLING BELOW
  margin: 60px auto;
  max-width: 800px;
}

.product {

  //--- JUST VISUAL STYLING BELOW

  &image {
    background-color: antiquewhite;
    display: block;
    height: 200px;
    width: 100%;
  }

  &__name {

    p {
      font-family: sans-serif;
      font-size: 16px;
      font-weight: bold;

      a {
        color: #000000;
        text-decoration: none;
        display block;
      }
    }
  }

  &__price {

    p {
      font-family: sans-serif;
      font-size: 14px;
    }
  }
}