.collection {
  display grid
  grid-auto-columns max-content
  grid-auto-flow dense
  grid-auto-rows minmax(100px, auto)
  grid-gap 25px
  grid-template-columns repeat(3, 1fr)
  margin 60px auto
  max-width 800px
}

.product
  &-url
    display block

  &-name
    font-size 1.15rem
    font-weight bold
    line-height 1.5rem

  &-price
    font-size 1.15rem
    color white

  &-image
    width 225px
    height 225px