.top-panel
  position sticky
  top 0
  background black
  width 100%
  max-width 960px
  margin auto
  border 1px yellow solid
  z-index 1


  .form-buttons
    padding 0.25rem

    //#item-counter
    //  padding 0 .5rem

  .navigation, .form-buttons
    buttonWidth = 20px

    // > iba priamy potomok, ostatne nie

    .navigation-hover
      display none

    > li
      display inline-block

      > a
        display inline-block
        padding 0.5rem

      .button
        padding 0.25rem
        font-size 0.8rem
        margin 0


      .input-search
        padding 4px buttonWidth+ 8 4px 4px

      label
        position relative
        color chartreuse

        button
          position absolute
          right 5px
          padding 4px
          width buttonWidth
          height buttonWidth
          background url("../images/search_btn.png") center center no-repeat
          background-size cover
          cursor pointer
          top 50%
          transform translateY(-50%)

@media screen and (max-width: 780px)
  .top-panel
    .navigation
      position absolute

      &:hover
        //vsetky elementy v danej urovni

        > li
          display block

      > li
        color yellow
        background-color black
        display none
        padding 0.5rem

        a
          background-color black

      .navigation-hover
        display block


//ampersand logika
//.class-fix-red
//.class-fix-green
//.class-end
//.class-fix
//
//.class
//  &-fix
//    &-red
//    &-green
//  &-end