{% extends 'page_temps/base_temp.html.twig' %}

{% block title %}E-mail na obnovu hesla bol odoslaný{% endblock %}

{% block body %}
    <p>Bol odoslaný e-mail s odkazom, na ktorý môžete kliknúť a nastaviť nové heslo. Platnosť tohto odkazu vyprší za {{ tokenLifetime|date('g') }} hodín.</p>
    <p>Ak ste nedostali e-mail, skontrolujte priečinok so spamom alebo <a
                href="{{ path('app_forgot_password_request') }}">skúste znovu</a>.</p>
{% endblock %}
