<h1>Ahoj!</h1>

<p>Ak chcete obnoviť svoje heslo, navštívte nasledujúci odkaz</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Platnosť tohto odkazu vyprší za {{ tokenLifetime|date('g') }} hodín.</p>

<p>Cheers!</p>
