{% extends 'page_temps/base_temp.html.twig' %}

{% block title %}Obnovenie hesla{% endblock %}

{% block body %}
    <h1>Obnovenie hesla</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="button radius">Obnov heslo</button>
    {{ form_end(resetForm) }}
{% endblock %}
