{% extends 'base_temp.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('homepage', 'webpack_assets') }}
{% endblock %}
{% block layout_content %}

    <div>
        <div>
            {% block content %}{% endblock %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}{% endblock %}