{% extends 'page_temps/base_temp.html.twig' %}

{% block body %}

    {% for message in app.flashes('error') %}
        <div>
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(login_form, {'attr': {'id': 'custom_login_form',
        'class': 'form-wrapper' }}) }}

    {{ form(login_form) }}

    {{ form_end(login_form) }}

{% endblock %}

