* {
  margin-left .5vw
  margin-right .5vw
}

body {
  background-color black
  color yellow
}

h1 {
  color #B0413E
  font-weight bold
  margin-left 1.5vw
}

tr {
  color yellow
}

td {
  color yellow
}

a {
  font-weight bold;
  color: white;
  margin-left 1.6vw
  font-size 1.2vw
}

.table {
  max-width 55%
}

th {
  color #b0413e
}

.btn {
  width: 10vw;
  height: 2vw;
  font-weight bold;
  box-shadow: 0 0 0pt 2pt grey
  border-radius: 17px;
  padding-left: 7px;
  color: black;
  margin-left 1.1vw

}