@import "general/homepage_layout.styl"
@import "general/form_layout.styl"
@import "general/article_layout.styl"
@import "general/topPanel_layout.styl"
@import "general/crude_layout.styl"
@import "general/categoryPanel_layout.styl"
@import "general/rateStars_layout.styl"
@import "general/articlePanel_layout.styl"
@import "general/shopping_cart_layout.styl"

//kvoli rem
:root {
  font-size 16px
}

html, body {
  color yellow
  font-size 1rem
  font-family 'Arial'
  background-color black
}

* {
  margin 0
  padding 0
  box-sizing border-box
}

.control-label {
  color white
}

h1
  color red

.clear-fix
  &::after
    content ""
    display block
    clear both


.float-left {
  float left
}

.float-right {
  float right
}

a
  color yellow
  text-decoration none

  img
    border none

  &:hover
    color white
    text-decoration underline

img
  width 100%
  display inline-block

ul, ol
  li
    list-style none

ul.drop-down
  &.drop-down-out
    > li
      position relative
      > ul
        position absolute
  > li
    &:hover
      > ul
        display block
    > ul
      display none
      > li
        > a
          display inline-block
          padding 0.5rem

.bg-black
  background-color black

.bg-yellow
  background-color yellow





.btn
  border none

  &-form
    font-weight bold
    box-shadow 0 0 3pt 2pt yellow
    border-radius 17px
    margin 1.5em 0 0 0
    color black

input[type="text"], input[type="password"], textarea, select, button
  border none
  outline none
  appearance none

  &:focus
    outline none

.button
  width 100%
  color black
  font-weight bold
  background-color yellow
  padding 5px 15px
  display inline-block
  text-align center
  text-decoration none
  border 2px solid grey
  margin-top 10px

  &:hover
    color black
    border-color white
    text-decoration none

.hide
  display none

.radius
  border-radius 5px

