{% extends 'page_temps/base_temp.html.twig' %}

{% block body %}

    <div class="shopping-cart">

        <div>
            <a class="far fa-times-circle"></a>
        </div>
        <div class="delete-item" > Delete-item</div>
        <div class="image"> Image</div>
        <div class="title"> Title</div>

        <div class="buttons">
            <span class="plus"> Plus</span>
            <span class="count"> Count</span>
            <span class="minus"> Minus</span>
        </div>
        <span class="price"> Cena</span>


        <div class="clear"> clear cart</div>

    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}


