{% extends 'page_temps/base_temp.html.twig' %}

{% block body %}

    {% if status == 'tokExp' %}

    <div class="form-wrapper">
        Vypršala platnosť aktivačného emailu.
        <a href="http://127.0.0.1:8000/resend-activate-email/{{ token }}">Poslať nový aktivačný email</a>
    </div>

    {% elseif status == 'notActivated' %}

    <div class="form-wrapper">
        Váš účet ešte nebol aktivovaný. Prosím aktivujte si ho cez Vám zaslaný aktivačný email.
        <a href="http://127.0.0.1:8000/resend-activate-email/{{ token }}">Poslať nový aktivačný email</a>
    </div>

    {% elseif status == 'success' %}

    <div class="form-wrapper" >
        Váš účet bol úspešne aktivovaný. Môžete pokračovať na <a href="{{ path('app_login') }}">prihlásenie</a>
        Automatické presmerovanie na prihlásenie prebehne za <span data-redirect="/login" data-redirect-time="10">10 sekúnd</span>.
    </div>

    {% endif %}


    <script>
        (function (){
            var redirectEl = $('[data-redirect]');
            var value = redirectEl.data('redirect');

            if (redirectEl.length > 0 && value !== '' && !isNaN(+value)) {
                setTimeout(function (){
                    window.location.href = 'http://127.0.0.1:8000/login';
                }, parseInt(value)*1000)
            }
        })()
    </script>
{% endblock %}

