{% extends 'page_temps/base_temp.html.twig' %}
{% block body %}

    <div class="detail clear-fix">
        <div class="image-wrapper float-left">
            <div class="image-container">
                <img src="https://www.no-gods-no-masters.com/img/thumb/local-tshirt-acidez-D01000839342P0691.jpg" alt="">
            </div>
        </div>

        <div class="info-wrapper float-right">
            <h1 class="headline">Tričko Acidez (čierne)</h1>
            <p class="description">Tričko Acidez čiernej farby, 100% bavlna</p>
            <div class="price-wrapper">
                <div class="price">
                    9.99€
                </div>

                <div class="cart">
                    <button class="btn" title="Pridať do košíka"></button>
                </div>
            </div>
        </div>
    </div>
    <a href="http://127.0.0.1:8000/homepage">Späť na hlavnú stránku</a>

{% endblock %}