<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}pAnk st0re! - TOVAR{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block layout_content %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
