{% extends 'page_temps/base_temp.html.twig' %}
{#{% block stylesheets %}#}
{#    {{ encore_entry_link_tags('article', 'webpack_assets') }}#}
{#{% endblock %}#}
{% block body %}
    <div class="card">
        <img src="https://www.cdaquarius.com/user/18539/upload/stuff/resized/22109595_230-230-true.jpg">
        <h1>Opasok vybíjaný</h1>
        <p>Vybíjaný opasok, koženný</p>
        <p class="price">19.95€</p>
        <button>Pridať do košíka</button>
        <br><br>
        <form action="http://127.0.0.1:8000/homepage">
            <input type="submit" value="Späť na hlavnú stránku"/>
        </form>
    </div>
{% endblock %}