{% extends 'layouts/article_layout.html.twig' %}
{% block content %}

    <div class="card">
        <img src="https://www.cdaquarius.com/user/18539/upload/stuff/resized/22109595_230-230-true.jpg">
        <h1>Opasok vybíjaný</h1>
        <p class="price">19.95€</p>
        <p>Vybíjaný opasok, koženný</p>
        <p><button>Pridať do košíka</button></p>
        <form action="http://127.0.0.1:8000/homepage">
            <input type="submit" value="Späť na hlavnú stránku" />
        </form>
    </div>
    <style>


    </style>


{% endblock %}