    <div class="top-panel clear-fix">
        <ul class="navigation float-left">
            <li>
                <a href="http://127.0.0.1:8000/homepage">Domov</a>
            </li>
            <li>
                <a href="">O nás</a>
            </li>
            <li>
                <a href="">Obchodné podmienky</a>
            </li>
            <li>
                <a href="">FAQ</a>
            </li>
        </ul>

        <ul class="form-buttons float-right">
            <li>
                <label>
                    <button>

                    </button>
                    <input class="input-search" type="text" placeholder="Hľadaj v e-shope...">
                </label>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/loginForm" class="button">Prihlásiť</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/registerForm" class="button">Registrovať</a>
            </li>
        </ul>
    </div>

