<div class="top-panel clear-fix">
    <ul class="navigation float-left">
        <li class="navigation-hover">
            Menu
        </li>
        <li>
            <a href="http://127.0.0.1:8000/homepage">Domov</a>
        </li>
        <li>
            <a href="">O nás</a>
        </li>
        <li>
            <a href="">Obchodné podmienky</a>
        </li>
        <li>
            <a href="">FAQ</a>
        </li>
    </ul>

    <ul class="form-buttons float-right">
        <li>
            <label>
                <button>

                </button>
                <input class="input-search" type="text" placeholder="Hľadaj v e-shope...">
            </label>
        </li>

        {% set sesionName = app.user.username|default('undefined') %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li>
                <label>{{ app.user.name|default('undefined') }}</label>
            </li>
            <li>
                <a id="item-counter"
                   href="http://127.0.0.1:8000/shoppingcart/">Košík(<span>{{ app.session.get(sesionName)|length }}</span>)</a>
            </li>
            <li>
                <a class="button radius" href="{{ path('app_logout') }}">Odhlásiť</a>
            </li>

        {% else %}
            <li>
                <a href="http://127.0.0.1:8000/login" class="button radius">Prihlásiť</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/registerForm" class="button radius">Registrovať</a>
            </li>
        {% endif %}
    </ul>
</div>

