{% extends 'page_temps/base_temp.html.twig' %}
{% block body %}
    <h1>Vytvoriť novú objednávku</h1>

    {{ include('order/_form.html.twig') }}

    <a href="{{ path('order_index') }}">Späť na zoznam</a>
{% endblock %}
