{% extends 'page_temps/base_temp.html.twig' %}

{% block body %}
    <div class="form-wrapper">
        <h2>Prístup zamietnutý (403)</h2>
        <a href="{{ url('app_homepage') }}">Návrat na hlavnú stránku</a>
    </div>
{% endblock %}

