{% extends 'page_temps/base_temp.html.twig' %}

{% block body %}
    <div class="form-wrapper">
        <h1>Stránka sa nenašla (404)</h1>

        <p>
            Požadovanú stránku sa nepodarilo nájsť. Skontrolujte
            preklepy v URL adrese alebo sa
            <a href="{{ path('app_homepage') }}">Môžete sa vrátiť na hlavnú stránku</a>.
        </p>
    </div>



{% endblock %}