{% extends 'page_temps/base_temp.html.twig' %}

{% block body %}
    <div class="detail clear-fix">
        <div class="image-wrapper float-left">
            <div class="image-container">
                <img src="{{ data.img }}" alt="">
            </div>
        </div>

        <div class="info-wrapper float-right">
            <h1 class="headline">{{ data.title }}</h1>
            <p class="description">{{ data.desc }}</p>
            <div class="price-wrapper">
                <div class="price">
                    {{ data.price |number_format(2, '.', ',')}} €
                </div>

                <div class="cart">
                    <button class="btn" title="Pridať do košíka"></button>
                </div>
            </div>

            <div class="topnav">
                <a class="active" href="info">O tovare</a>
                <a href="#recenzie">Recenzie</a>
                <a href="#hodnotenie">Hodnotenie</a>
            </div>

            <h1>Ohodnoť tovar</h1>
            <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
            </div>
        </div>
    </div>
{% endblock %}
