{% extends 'page_temps/base_temp.html.twig' %}
{% block body %}
    <h1>Vytvoriť nový artcile</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}">Späť na zoznam</a>
{% endblock %}
