{% extends 'page_temps/base_temp.html.twig' %}
{% block body %}
    <h1>Uprav užívateľa</h1>

    {% for message in app.flashes('info') %}
        <div>
            {{ message }}
        </div>
    {% endfor %}

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    <br>
    {{ include('user/_delete_form.html.twig') }}
    <br>
    <a href="{{ path('user_index') }}">Späť</a>


{% endblock %}
