{% extends 'page_temps/base_temp.html.twig' %}
{% block body %}


    {{ include('user/_form.html.twig') }}
    <h1>Vytvoriť nového užívateľa</h1>
    <br>

    <a href="{{ path('user_index') }}">Späť na zoznam</a>

    {% for message in app.flashes('info') %}
        <script>
            var msg = "{{ message }}";
            setTimeout(function () {
                alert(msg)
            }, 20);
        </script>
    {% endfor %}
{% endblock %}
