{% extends 'page_temps/base_temp.html.twig' %}
{% block body %}
    <h1>Vytvor nového užívateľa</h1>

    {{ include('user/_form.html.twig') }}

    <br>

    <a href="{{ path('user_index') }}">Späť</a>
{% endblock %}
